.formcontainer{
    width: 300px;
    border: 2px solid var(--blueBorder);
    border-radius: 7px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:  translate(-50%,-50%);




}
.input{
    border: 1.2px solid var(--labelcolor);
    border-radius: 4px;
    font-size: medium;
    margin-top: 5px;    
    margin-bottom: 15px;    
    padding: 7px;
    display: block;
    width: 90%;

}
.input:focus-visible{
    border: 1px solid var(--blueBorder);
    outline: 1px solid var(--blueBorder);
    
}
.label{
    color: rgb(76, 76, 76);
}

.button{
    width: 95%;
    padding: 10px;
    background-color: var(--blue);
    border: 0px;
    border-radius: 4px;
    margin-top: 13px;
    margin-bottom: 13px;
    color: white;
    font-weight: bold;
    cursor:pointer; 
}
.button:disabled{
    background-color: var(--lightBlue);
    cursor:auto;
    
}

.errormessage{
    color: red;
}
.dropdown{
    width: max-content;
    border-radius: 10px;
    background-color: white;
    padding: 5px;
    z-index: 1;
    border: 1px solid var(--grey);
}
.dropdown > div{
    padding: 8px;
    cursor: pointer;
}
.functionbutton{

        background-color: var(--blue);
        color: white;
        border: 0px;
        border-radius: 5px;
        margin: 10px;
        float: right;
        padding: 10px;
        cursor: pointer;
    
}

.popup{
    width: 100%;
    height: 100%;
    backdrop-filter: blur(1px)  ;
    position:fixed;    
    z-index: 1;

}
.centercomp{
    position: fixed;
    top: 50%;
    left: 50%;
    border: 1.5px solid var(--lightGrey);
    border-radius: 10px;
    background-color: white;
    padding: 20px;
    transform: translate(-50%,-50%);

}

.loading{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.outclick{
    z-index: 1;
}