/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
    --background: #ffffff;
    --foreground: #171717;
    --divcolor:yellow;
    --blue:#2176FF;
    --black:#121212;
    --lightBlue:#6DA5FF;
    --lightBlue_10:#EDF4FF;
    --white:#FFFFFF;
    --grey:#505050;
    --blueBorder:#D4E4FF;
    --white: #ffffff;
    --labelcolor:#4c4c4c;
    --lightGrey:#E5E5E5;
  }

  body{
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-color: rgba(128, 128, 128, 0.05);
  }

  html{
    margin: 0;
    padding: 0;
  }
  