.selectfiles{
    width: 500px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: goldenrod;
}

.iconbox{
    width: 90%;
    height: 45px;
    position: relative;
    margin: 2px;
    border-radius: 10px;
}
.iconbox:hover{
    background-color: var(--blue);
}

.user{
    position: absolute;
    bottom: 5px;
}
.user > svg{
    margin: 0px auto 10px;
    cursor: pointer;
    width: 50px;
}
.user > img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 100%;
}

.userinfo{
    width: 500px;
    /* height: 200px; */
    
}
.userinfo img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100%;
}

.profilewrapper{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0px;
    z-index: 2;
    backdrop-filter: blur(1px);
        
}

.image{
    text-align: center;
    margin-bottom: 20px;
    position: relative;
}


.userinfo label{
    font-weight: 600;
}
.edit{
    float: right;
}
.userinfo input{
    
    padding: 7px;
    display: block;
    margin-bottom: px;
    border: 1px solid var(--grey);
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 13px;
    font-weight: 500;
    width: 95%;
    margin-top: 3px;
}
.userinfo svg{
    cursor: pointer;
}
.imageedit{
    background-color: white;
    position: relative;
    bottom: 25px;
    right: 35px;

}
.info{
    clear: both;
}
