.selectfiles {
  width: 500px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: goldenrod;
}

.iconbox {
  width: 90%;
  height: 45px;
  position: relative;
  margin: 2px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.selectedicon {
  background-color: var(--blueBorder);
}
.iconbox:hover {
  background-color: var(--blueBorder);
}

.menuicon {
  width: 22px;
  height: 22px;

  color: var(--grey);
}

.user {
  position: absolute;

  bottom: 5px;
}


.userinfo {
  width: 500px;
  /* height: 200px; */
}
.userinfo img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 100%;
}

.profilewrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0px;
  z-index: 2;
  backdrop-filter: blur(1px);
}

.image {
  text-align: center;
  margin-bottom: 20px;
  position: relative;
}

.userinfo label {
  font-weight: 600;
}
.edit {
  float: right;
}
.userinfo input {
  padding: 7px;
  display: block;
  margin-bottom: px;
  border: 1px solid var(--grey);
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 13px;
  font-weight: 500;
  width: 95%;
  margin-top: 3px;
}
.userinfo svg {
  cursor: pointer;
}
.imageedit {
  background-color: white;
  position: relative;
  bottom: 25px;
  right: 35px;
}
.info {
  clear: both;
}

.userimage{
  position: relative;
}
.userimage > img {
  margin-top: 5px;
  border-radius: 100%;
  width: 48px;
  height: 48px;
  object-fit: cover;
}
.online {
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 3px;
  background-color: green;
  width: 11px;
  height: 11px;
  border-radius: 100%;
}
.offline {
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 3px;
  background-color: red;
  width: 11px;
  height: 11px;
  border-radius: 100%;
}
