.modal{
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    backdrop-filter: blur(3px);
    position: absolute;
    top: 0;
    left:0;
    
}

.modalin{
    position:relative;
    background-color: rgb(136, 122, 125);
    width: 400px;
    height: 400px;
    left:50%;
    top:50%;
    transform: translate(-50% , -50%);
}