.selectfiles{
    width: 500px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: goldenrod;
}

.iconbox{
    width: 90%;
    height: 45px;
    position: relative;
    margin: 2px;
    border-radius: 10px;
}
.iconbox:hover{
    background-color: var(--blue);
}

.user{
    position: absolute;
    bottom: 5px;
}
.user > img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 100%;
}
