#loginContainer{
    display: flex;
    flex-direction: column;
    border: 2px solid red;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#completeForm{
    padding: 50px 30px;
    border: 2px solid var(--blueBorder);
    border-radius: 10px;
}
#loginContainer #textContainer{
    width: 383px;
}
#loginContainer h1{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}
#loginContainer input{
    width: 383px;
    height: 50px;
    border-radius: 5px;
}
#loginContainer input[type="text"], input[type="password"]{
    box-sizing: border-box;
    padding-left: 10px;
    margin-bottom: 20px;
    border: 1px solid var(--grey);
    background-color: var(--white);
    
}
#loginContainer input[type="submit"]{
    margin-top: 20px;
    background-color: var(--blue);
    color: var(--white);
    font-weight:600;
}