
.chatprofile{
    height: 100vh;
    /* background-color: yellow; */
    overflow-y: scroll;
}
.chatprofile > div{
    margin: 0;
    padding: 15px 5px;
    /* background-color: yellow; */
}
.nav{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}
.profile{
    text-align: center;
    justify-content: center;
}

.profile *{
    margin: 2px;
}

.profilepic{
    height:200px;
    width: 200px;
    border-radius: 100%;
    object-fit:cover;
    object-position: 20% 30%;
}
/* .name{
    text-align: center;
    margin: 0; */
/* } */

 .files{
    display: flex;
    align-items: baseline;
    gap: 20px;
    flex-wrap: wrap;
}
.filename{
    margin-top: 0;
    font-size: 13px;
} 
.file{
    display: inline-block;
    background-color: yellow;
}

/* .file{
    display: block;
    background-color: yellow;
} */
